{% extends 'academixapp/base.html' %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 bg-dark text-white border-end">
            <div class="sidebar mt-4 p-2" style="height:100vh;">
                <a href="{% url 'academixapp:index' %}" class="text-decoration-none text-reset">
                    <div class="dashboard p-2 rounded-2">
                        <p class="mb-0"><i class="bi bi-house-door"></i> Home</p>
                    </div>
                </a>
                <a href="{% url 'auth:myprofile' %}" class="text-decoration-none text-reset">
                    <div class="profile p-2 rounded-2 mt-2">
                        <p class="mb-0"><i class="bi bi-person"></i> My Profile</p>
                    </div>
                </a>
                <hr class="mx-auto">
                {% if user.profile %}
                {% if user.profile.user_type|lower == 'teacher' %}
                <p class="mb-2"><b><i class="bi bi-person"></i> Instructor</b></p>
                <a href="{% url 'academixapp:mycourses' %}" class="text-decoration-none text-reset">
                    <div class="courses-tab p-2 rounded-2">
                        <p class="mb-0 ms-2"><i class="bi bi-book"></i> My Courses</p>
                    </div>
                </a>
                <a href="{% url 'academixapp:enrolledcourses' %}" class="text-decoration-none text-reset">
                    <div class="courses-tab p-2 rounded-2 mt-2">
                        <p class="mb-0 ms-2"><i class="bi bi-book"></i> Enrolled Courses</p>
                    </div>
                </a>
                {% else %}
                <p class="mb-2"><b><i class="bi bi-person"></i> Student</b></p>
                <a href="#" class="text-decoration-none text-reset">
                    <div class="courses-tab p-2 rounded-2">
                        <p class="mb-0 ms-2"><i class="bi bi-book"></i> Enrolled Courses</p>
                    </div>
                </a>
                {% endif %}
                {% endif %}
                <hr class="mx-auto">
                <div class="profile logout p-2 rounded-2 mt-2">
                    <a href="" class="text-decoration-none text-reset d-block"><i class="bi bi-box-arrow-right"></i>
                        Log Out</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row mt-4">
                {% if enrolled_courses %}
                {% for enrollment in enrolled_courses %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ enrollment.course.course_img.url }}" class="card-img-top"
                            alt="{{ course.course_title }}" style="height:250px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ enrollment.course.course_title }}</h5>
                            <p class="card-text">Added: {{ enrollment.enrollment_date|date }}</p>
                            <a href="{% url 'academixapp:view_course' enrollment.course.slug %}"
                                class="btn btn-warning">View Progress</a>
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ enrollment.id }}">Delete</button>
                        </div>
                        <div class="modal fade" id="deleteModal{{ enrollment.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ enrollment.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel{{ enrollment.id }}">Confirmation</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this enrolled course?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">No</button>
                                        <!-- Button to delete the course -->
                                        <a href="{% url 'academixapp:delete_enrollment' enrollment.id %}" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div style="margin-top:18%;">
                        <h2 class="text-center">No Course Currently Enrolled</h2>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(".sidebar div").click(function () {
                // Remove the 'active' class from all divs inside the sidebar
                $(".sidebar div").removeClass("active");

                // Add the 'active' class to the clicked div
                $(this).addClass("active");
            });
        });
    </script>
    {% endblock %}