{% extends 'academixapp/base.html' %}
{% block body %}
<div class="background-container-home">
    <div class="overlay"></div>
    <div class="centered-content">
        <div class="container">
            <div class="row">
                <div class="div-col-10">
                    <div class="heading text-center">
                        <h1>Welcome to <span class="text-warning">College Curriculum</span> of
                            GECCS</h1>
                        <p>This page is created only for the Government College of Engineering,
                            Chhatrapati Sambhajinagar
                            Students.</p>
                    </div>
                    <div class="select-branch p-4 d-flex justify-content-center align-items-center flex-wrap">
                        
                        <div class="col-md-6">
                            <a href="/courses/compsa" class="branch-link text-decoration-none text-reset">
                                <div class="bg-dark branch p-2 rounded-4 d-flex align-items-center"
                                    style="width:500px;border:0.5px solid #fff;">
                                    <div class="image-border mx-4">
                                        <img src="../../media/assets/compsa.png" alt="Computer Science and Engineering"
                                            class="img-fluid" style="width:50px;height:50px;">
                                    </div>
                                    <p class="fs-5 mb-0">Computer Science and Engineering</p>
                                </div>
                            </a>
                        </div>
                        
                        <div class="col-md-6">
                            <a href="/courses/itsa" class="branch-link text-decoration-none text-reset">
                                <div class="branch bg-dark p-2 rounded-4 d-flex align-items-center mx-2"
                                    style="width:500px;border:0.5px solid #fff;">
                                    <div class="image-border mx-4">
                                        <img src="../../media/assets/compsa.png" alt="Computer Science and Engineering"
                                            class="img-fluid" style="width:50px;height:50px;">
                                    </div>
                                    <p class="fs-5 mb-0">Information Technology</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="select-branch p-4 d-flex justify-content-center align-items-center flex-wrap">
                        <div class="col-md-6">
                            <a href="/courses/teesa" class="branch-link text-decoration-none text-reset">
                                <div class="bg-dark branch p-2 rounded-4 d-flex align-items-center"
                                    style="width:500px;border:0.5px solid #fff;">
                                    <div class="image-border mx-4">
                                        <img src="../../media/assets/compsa.png" alt="Computer Science and Engineering"
                                            class="img-fluid" style="width:50px;height:50px;">
                                    </div>
                                    <p class="fs-5 mb-0">Electronics and Telecommunication</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/courses/eesa" class="branch-link text-decoration-none text-reset">
                                <div class="branch bg-dark p-2 rounded-4 d-flex align-items-center mx-2"
                                    style="width:500px;border:0.5px solid #fff;">
                                    <div class="image-border mx-4">
                                        <img src="../../media/assets/compsa.png" alt="Computer Science and Engineering"
                                            class="img-fluid" style="width:50px;height:50px;">
                                    </div>
                                    <p class="fs-5 mb-0">Electrical Engineering</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="select-branch p-4 d-flex justify-content-center align-items-center flex-wrap">
                        <div class="col-md-6">
                            <a href="/courses/mesa" class="branch-link text-decoration-none text-reset">
                                <div class="bg-dark branch p-2 rounded-4 d-flex align-items-center"
                                    style="width:500px;border:0.5px solid #fff;">
                                    <div class="image-border mx-4">
                                        <img src="../../media/assets/compsa.png" alt="Computer Science and Engineering"
                                            class="img-fluid" style="width:50px;height:50px;">
                                    </div>
                                    <p class="fs-5 mb-0">Mechanical Engineering</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/courses/cesa" class="branch-link text-decoration-none text-reset">
                                <div class="branch bg-dark p-2 rounded-4 d-flex align-items-center mx-2"
                                    style="width:500px;border:0.5px solid #fff;">
                                    <div class="image-border mx-4">
                                        <img src="../../media/assets/compsa.png" alt="Computer Science and Engineering"
                                            class="img-fluid" style="width:50px;height:50px;">
                                    </div>
                                    <p class="fs-5 mb-0">Civil Engineering</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}