{% extends 'academixapp/base.html' %}
{% block body %}

{% csrf_token %}
<div class="container course-details-container">
    <div class="row">
        <div class="col-md-7 p-4 mx-auto">
            <h2 class="mt-4">{{ course.course_title }}</h2>
            <h5 class="mt-2">Description: </h5>
            <p class="">{{ course.course_desc }}</p>
            <p>Created by <b>{{course.instructor}}</b></p>
            <p><i class="bi bi-clock"></i> {{ course.date_created|date}}</p>

            <div class="border"></div>
            <div class="box border mt-4 p-4">
                <h4>Course Outcome</h4>
                <p>{{course.course_benefit}}</p>
            </div>
            <div class="mt-4">
                <h4>Course Content</h4>
                <div class="box border p-4 shadow">
                    {% for unit in course.units.all %}
                    <p class="scrollDownBtn mt-3 p-3 text-white" style="cursor: pointer; background-color: rgb(76, 81, 76);">Unit {{ forloop.counter }} : {{ unit.title }}<i class="bi bi-arrow-down"></i>
                    </p>
                    <div class="subtopic-container px-3 hidden-content">
                        {% for subtopic in unit.subtopics.all %}
                        <div class="row border mt-2 p-2">
                            <div class="col-md-2">
                                <select id="status_{{ subtopic.id }}" name="status" class="form-control status-select">
                                <option value="Pending" {% if subtopic.status == 'Pending' %}selected{% endif %}>Pending</option>
                                <option value="Done" {% if subtopic.status == 'Done' %}selected{% endif %}>Done</option>
                                <option value="Revisit" {% if subtopic.status == 'Revisit' %}selected{% endif %}>Revisit</option>
                                </select>
                            </div>
                            <div class="col-md-10">
                                <p class="mt-2 mb-0">{{ subtopic.title }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mt-4">
                <h4>Author</h4>
                <a href="" class="text-decoration-none text-reset"><img src="" alt=""><b>Instructor Name</b></a>
                <p>Author Desc: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo repellat sit laudantium,
                    earum a odio neque. Tempore similique obcaecati est?</p>
            </div>
            <div class="mt-4">
                <h4>Add Reviews & Comments</h4>
                <form method="POST">
                    {% csrf_token %}
                    <a href="" class="text-decoration-none text-reset"><img src="" alt=""> Student Name</a>
                    <input type="text" name="comment" id="comment" class="form-control" placeholder="Enter comment">
                    <button class="btn btn-warning mt-2">Add Comment</button>
                </form>
            </div>
            <div class="mt-4">
                <h4>Add your Notes to help others</h4>
                <form method="POST">
                    {% csrf_token %}
                    <a href="" class="text-decoration-none text-reset"><img src="" alt=""> Student Name</a>
                    <div class="mt-1 border thumbnail-box d-flex flex-column align-items-center justify-content-center rounded-2"
                        style="height:200px;">
                        <input type="file" class="form-control-file mb-2" id="imageInput" name="course_img"
                            accept="image/*">
                        <p class="text-center text-black mb-0">Drag and drop an image, or <span
                                class="text-warning">Browse</span></p>
                    </div>
                    <button class="btn btn-warning mt-2">Add Notes</button>
                </form>
            </div>
        </div>
        <div class="col-md-4 mx-auto shadow-lg p-4" style="max-height: 500px;">
            <img class="card-img-top rounded-3 mt-2" src="{{ course.course_img.url }}" style="height: 200px;">
            <div class="d-flex align-items-center justify-content-center">
                <form id="enrollForm" method='POST' action="{% url 'academixapp:view_course' course.slug %}">
                    {% csrf_token %}
                    <button type="submit" onclick="openPopup()" class="btn btn-warning mt-4 fs-5 border-bottom" style="width: 300px;">Enroll in this course</button>
                </form>
            </div>
            <div class="text-primary mt-4">
                <p class="text-black">This course includes: </p>
                <p>Lectures: 3Hrs/Week</p>
                <p>Tutorial: 0</p>
                <p>Total Credits: 03</p>
            </div>
        </div>
        {% if messages %}
        <div id="popup" class="popup">
            <span class="close fs-1 float-end" onclick="closePopup()">&times;</span>
            <div class="popup-content">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
<style>
    /* Pop-Up */
    .hidden-content {
        display: none;
    }

    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border: 1px solid #ccc;
        width:20%;
        height:20%;
        z-index: 9999;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }

    .popup-content {
        /* Add styling for the content inside the popup */
        background-color: #fefefe;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
</style>
<script>
    function updateSubtopicStatus(selectElement) {
      var subtopicId = selectElement.value.split('_')[1]; 
      var newStatus = selectElement.value;
    
      // Send AJAX request
      fetch('/update_subtopic_status/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: `subtopic_id=${subtopicId}&new_status=${newStatus}`
      })
      .then(response => response.text())
      .then(data => {
        // Handle response from the server (e.g., display success message)
        console.log(data);  // For debugging
      })
      .catch(error => {
        console.error('Error updating status:', error);
      });
    }
    
    // Add event listener to the status select elements
    document.querySelectorAll('.status-select').forEach(selectElement => {
      selectElement.addEventListener('change', function() {
        updateSubtopicStatus(this);
      });
    });
</script>
    
<script>
    function submitForm(selectElement) {
        var form = selectElement.closest('form');
        if (form) {
            form.submit();
        } else {
            alert("Form element not found!");
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.addEventListener('click', function (event) {
            var target = event.target;
            if (target.classList.contains('scrollDownBtn')) {
                var contentElement = target.nextElementSibling;
                if (contentElement) {
                    contentElement.classList.toggle('hidden-content');
                    if (contentElement.classList.contains('hidden-content')) {
                        contentElement.scrollIntoView({ behavior: 'smooth', block: 'start' });
                    }
                }
            }
        });
    });

    function openPopup() {
        document.getElementById('popup').style.display = 'block';
    }

    function closePopup() {
        document.getElementById('popup').style.display = 'none';
    }
</script>
{% endblock %}