{% extends 'academixapp/base.html' %} {% block body %}
<div class="background-container">
  <div class="overlay"></div>
  <div class="centered-content">
    <div class="center-container">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <input type="hidden" value="student" name="student" />
            <h1>
              Welcome to <span class="text-warning">Login</span> Page of
              Academix
            </h1>
            <p>
              This page is created only for the Government College of
              Engineering, Chhatrapati Sambhajinagar Students.
            </p>
            <div>
              {% for message in messages %}
              <p class="text-white bg-danger p-2">{{message}}</p>
              {% endfor %}
            </div>
            <form class="centered-form" style="max-width: 400px" method="POST">
              {% csrf_token %}
              <label for="username" class="mt-2">Username</label>
              <input
                type="text"
                id="username"
                name="username"
                class="form-control mt-2"
                placeholder="Enter username"
                style="width: 100%"
              />
              <label for="password" class="mt-2">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control mt-2"
                placeholder="Enter password"
                style="width: 100%"
              />

              <button type="submit" class="mt-2 btn btn-success">Login</button>
            </form>
            <p class="mt-2">
              Don't have an account?
              <a href="{% url 'auth:signup' %}" class="text-decoration-none"
                >Create Account</a
              >,<a href="" class="text-decoration-none"> Forgot Password</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
