{% extends 'academixapp/base.html' %}
{% block body %}
<div class="d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row shadow">
            <div class="col-md-2"></div>
            <div class="col-md-8 " style="margin-top: 60px; height:85vh;">
                <h1>Welcome to <span class="text-warning">Student</span> Signup</h1>
                <p>This page is created only for the Government College of Engineering, Chhatrapati Sambhajinagar
                    Students.</p>
                <div>
                    {% for message in messages %}
                    <p class="text-white bg-danger p-2">{{message}}</p>
                    {% endfor %}
                </div>
                <form  method='POST' class="centered-form" style="max-width: 400px;">
                    {% csrf_token %}
                    <label for="username" class="mt-2">Username</label>
                    <input type="text" id="username" name="username" class="form-control mt-2"
                        placeholder="Enter username" required>
                    <label for="email" class="mt-2">Email</label>
                    <input type="email" id="email" name="email" class="form-control mt-2" placeholder="Enter email" required>
                    <label for="password" class="mt-2">Create Password</label>
                    <input type="password" id="password" name="password" class="form-control mt-2"
                        placeholder="Enter password" required>
                    <label for="confirm_password" class="mt-2">Confirm Password</label>
                    <input type="password" id="confirm_password" name="confirm_password" class="form-control mt-2"
                        placeholder="Enter password to confirm" required>
                    <button type="submit" class="mt-3 btn btn-success">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}