{% extends 'academixapp/base.html' %}
{% block body %}
<div class="container mt-4">
  <h2 class="mt-2 p-2 text-center"><i class="bi bi-search"></i> Explore the courses of the <span class="text-success">{{ course_branch|upper }} </span>branch</h2>  
  <div class="row mt-4">
      <div class="bg-secondary text-white p-1 mb-3">
        <h4 class="text-white pt-2" style="margin-left:20px;">First Year Courses</h4>
      </div>
      {% for course in course_list %}
        {% if course.course_branch|lower == course_branch|lower %}
          {% if course.course_year == 'FY' %}
            <div class="col-md-3 mb-4">
              <div class="card bg-transparent border-0">
                <img class="card-img-top rounded-3" src="{{ course.course_img.url }}" style="height:180px;">
                <div class="card-body">
                  <h5 class="card-title">{{ course.course_title }}</h5>
                  <a href="{% url 'academixapp:view_course' course.slug %}" class="btn" style="background-color: rgb(71, 211, 43);">View Course</a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
      <div class="bg-secondary text-white p-1 mb-3">
        <h4 class="text-white pt-2" style="margin-left:20px;">Second Year Courses</h4>
      </div>
      {% for course in course_list %}
      {% if course.course_branch|lower == course_branch|lower %}
      {% if course.course_year == 'SY' %}
        <div class="col-md-3 mb-4">
          <div class="card bg-transparent border-0">
            <img class="card-img-top rounded-3" src="{{ course.course_img.url }}" style="height:180px;">
            <div class="card-body">
              <h5 class="card-title">{{ course.course_title }}</h5>
              <a href="{% url 'academixapp:view_course' course.slug %}" class="btn" style="background-color: rgb(71, 211, 43);">View Course</a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endif %}
      {% endfor %}
      <div class="bg-secondary text-white p-1 mb-3">
        <h4 class="text-white pt-2" style="margin-left:20px;">Third Year Courses</h4>
      </div>
      {% for course in course_list %}
      {% if course.course_branch|lower == course_branch|lower %}
      {% if course.course_year == 'TY' %}
        <div class="col-md-3 mb-4">
          <div class="card bg-transparent border-0">
            <img class="card-img-top rounded-3" src="{{ course.course_img.url }}" style="height:180px;">
            <div class="card-body">
              <h5 class="card-title">{{ course.course_title }}</h5>
              <a href="{% url 'academixapp:view_course' course.slug %}" class="btn" style="background-color: rgb(71, 211, 43);">View Course</a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endif %}
      {% endfor %}
      <div class="bg-secondary text-white p-1 mb-3">
        <h4 class="text-white pt-2" style="margin-left:20px;">Final Year Courses</h4>
      </div>
      {% for course in course_list %}
      {% if course.course_branch|lower == course_branch|lower %}
      {% if course.course_year == 'BE' %}
        <div class="col-md-3 mb-4">
          <div class="card bg-transparent border-0">
            <img class="card-img-top rounded-3" src="{{ course.course_img.url }}" style="height:180px;">
            <div class="card-body">
              <h5 class="card-title">{{ course.course_title }}</h5>
              <a href="{% url 'academixapp:view_course' course.slug %}" class="btn" style="background-color: rgb(71, 211, 43);">View Course</a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}