{% extends 'academixapp/base.html' %}
{% block body %}

<div class="page-title" data-aos="fade">
  <div class="heading">
    <div class="container">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-lg-8">
          <h1>Instructors</h1>
          <p class="mb-0">Instructors are responsible for creating and uploading comprehensive courses and detailed
            syllabuses that cater to a variety of learning needs. They strive to make learning interactive and
            inspiring, providing you with the tools and resources necessary to excel in your studies.</p>
        </div>
      </div>
    </div>
  </div>
  <nav class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="index.html">Home</a></li>
        <li class="current">Courses</li>
      </ol>
    </div>
  </nav>
</div>

<div id="instructors" class="instructor section">
  <div class="container">
    <div class="row">
      {% for profile in profiles %}
      {% if profile.user_type == 'TEACHER' %}
      <div class="col-lg-4 col-md-6 d-flex align-items-center justify-content-center" data-aos="fade-up"
        data-aos-delay="100">
        <div class="member">
          <img src="{{ profile.profile_img.url }}" class="img-fluid" alt="" style="width:100%; height: 400px;" />
          <div class="member-content text-center mt-2">
            <h4>{{profile.user.first_name}} {{profile.user.last_name}}</h4>
            <span>{{profile.branch}}</span>
            <p>
              {{profile.email}}
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}